<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Methodology{% endblock %}

{% block content %}
	<div class="container">
		<h1>About the Author</h1>
		<hr />
		<img src = "https://s31.postimg.org/8k4o61czf/Screen_Shot_2016_06_01_at_3_56_20_PM.png" width=200 height=200></h1>
		</br></br>
		<p>My name is David Bradford and I am in my third semester of the Government Analytics master's program at Johns Hopkins University. I live in Berkeley, CA. Before starting the program, I worked for two years at a political consulting firm in San Francisco, implementing strategy for candidate and ballot measure campaigns. I am currently a Political Analyst Fellow at Crowdpac, a website that uses data to provide objective information on federal, state, and local candidates, such as where they stand on issues and who has donated to their campaign.</p>
		<p>At the conclusion of my master's program, I plan on going into political polling or a more general data science field. I have a working knowledge of R, Stata, and SQL, and hope to become proficient in Python as well.</p>
	</div>
{% endblock %}