{% extends "base.html" %}

{% block title %}The Characteristics of Black Voters in the 2016 Democratic Primary{% endblock %}

{% block content %}
	<div class="container">
		<h1>The Characteristics of Black Voters in the 2016 Democratic Primary
		<hr />

		<img src = "https://img.washingtonpost.com/rw/2010-2019/WashingtonPost/2015/10/31/Others/Images/2015-10-31/___hrc_student_waiting1446328991.jpg" width=600 height=420></h1>
		<p>African American voters were one of the <a href="https://www.washingtonpost.com/news/the-fix/wp/2016/06/09/black-voters-gave-hillary-clinton-a-big-win-but-she-would-probably-have-won-anyway/">most reliable demographic groups</a> in Hillary Clinton's coalition of Democratic supporters during the 2016 presidential primary election, despite Bernie Sanders's <a href="https://www.washingtonpost.com/news/the-fix/wp/2016/03/16/bernie-sanders-is-doing-better-with-black-voters-but-its-still-not-good-enough/">great effort</a> to reach out to black voters. The purpose of this project is to determine whether Sanders's efforts to gain black supporters were more successful in certain parts of the country than others, and what that will mean for Democratic primary candidates going forward.</p>

		<p>Black voters are often described as a <a href="http://www.dailykos.com/story/2016/3/1/1494194/-Yes-Black-voters-are-Monolithic-in-their-Democratic-Establishment-Voting-Habits">monolith</a> -- I am interested in resolving whether that was true in the 2016 Democratic primary election. The research will explore whether counties with a high black population correlated with support for Clinton, or whether there are nuances that better explain Clinton's performances with black voters.</p>
		</br>
		<p>Photo courtesy of <a href="https://img.washingtonpost.com/rw/2010-2019/WashingtonPost/2015/10/31/Others/Images/2015-10-31/___hrc_student_waiting1446328991.jpg">Washington Post</a></p>
	</div>
{% endblock %}