{% extends "base.html" %}

{% block title %}Research Questions{% endblock %}

{% block content %}
	<div class="container">
		<h1>Research Questions</h1>
		<img src="https://s32.postimg.org/pjvv001px/Screen_Shot_2016_07_27_at_10_48_31_PM.png" width=700 height=400>
		<p>The map above shows the black population by county in the U.S. This project will delve into whether Clinton performed well in these high-black counties as a whole, or whether her support differed depending on the county's location in the country and how urban or rural it is.</p>
		<p>My research questions are as follows:</p>
		<ul>
			<li>Was Hillary Clinton more likely than Bernie Sanders to win counties with a large black population?</li>
			<li>If Clinton was more likely to win in counties with a large black population, was this support from the black community consistent across the country, or was it more fragmented?</li>
			<li>If support was more fragmented, what were the characteristics of Hillary Clinton's black supporters? For example, did Clinton perform better with black voters in the South than with those in the Northeast or Midwest? Did she perform better with rural black voters as opposed to urban black voters?</li>
		</ul>
		<p>By answering these questions, we will have a deeper understanding of African American support in the 2016 Democratic primaries. After a Democratic National Convention that highlighted the divisions between Sanders-supporting progressives and the Clinton-supporting establishment, it is crucial to find out the opinions of the various factions of the Democratic party. Black voters represent a reliable base for Democrats, and understanding the nuance of their preferences is important for the party moving forward.</p>
		</br>
		<p>Image created by David Bradford using the 'choroplethr' library in R, which incorporates 2012 population estimates.</p>
	</div>
{% endblock %}