{% extends "base.html" %}

{% block title %}Research Questions{% endblock %}

{% block content %}
	<div class="container">
		<h1>Research Questions</h1>
		<img src="https://s32.postimg.org/pjvv001px/Screen_Shot_2016_07_27_at_10_48_31_PM.png" width=700 height=400>
		<p>The map above shows the black population by county in the U.S. This project will delve into whether Clinton performed well in these high-black counties as a whole, or whether her support differed depending on the county's location in the country and how urban/rural it is.</p>
		<p>My research questions are as follows:</p>
		<ul>
			<li>Did African American voters across the country overwhelmingly get behind Hillary Clinton, or was her support fragmented?</li>
			<li>If support was more fragmented, what were the characteristics of Bernie Sanders's African American supporters? For example, did Sanders perform better with African American voters in the Northeast and Midwest than with those in the South? Did he perform better with urban vs. rural black voters?</li>
			<li>If his support was indeed better among black voters in certain areas of the country, how does his share among black voters in these areas compare with his share of overall voters?</li>
		</ul>
		<p>By answering these questions, we will be able to understand the depth and nuances of African American support in the 2016 Democratic primaries.</p>
		</br>
		<p>Image created by David Bradford using the 'choroplethr' library in R, which incorporates 2012 population estimates.</p>
	</div>
{% endblock %}